:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #000000;
  --header-text-color: #2196f3;
  --accent-color: #2196f3;
  --main-site-section: #2f303a;
  --ourteam-section: #f5f4fa;
  --border-header-color: #ececec;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba (0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --social-link-color: #AFB1B8;
    --clients-link-color: #AFB1B8;
    --hover-color: #2196f3;
    --contrast-color: #ffffff; 
    --footer-social: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.2);
    --duration: 250ms;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  align-items: center; */
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-list {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
}

.header-logo {
  margin-right: 70px;
}

.navigation-item {
  margin-right: 50px;
  color: var(--third-text-color);
}

.navigation-item:last-child {
  margin-right: 0;
}

.header-contacts {
  margin-right: 50px;
}

.header-contacts:last-child {
  margin-right: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
  background-color: var(--main-title-color);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/*-----------HEADER-------------*/

.icon {
  display: inline-block;
  fill: currentColor;
  /* width: 1em;
  height: 1em; */
}

.header {
  border: 1px solid var(--border-header-color);
}

.header-contacts-list {
  display: flex;
align-items: center;
}

.current {
  color: var(--header-text-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.header-contacts:hover {
  color: var(--accent-color);
}

/* .header-phone-icon {
  display: flex;
  fill: currentColor;
} */

.icon-contact {
  vertical-align: middle;
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.second-half-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-container {
  flex-direction: column;
}

.btn {
  display: block;
  border: none;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*-----------HERO-------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
  
  visibility: visible;
  transition-property: visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}


.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* .modal.is-hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  min-width: 528px;
  padding: 15px;
  background-color: var(--main-title-color);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    min-height: 30px;
    min-width: 30px;
    padding: 0;
    background-color: var(--main-title-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-container {
  display: flex;
  align-items: flex-start;
}

.hero-list {
  display: flex;
}

.hero-item {
  margin-right: 30px;
  width: 270px;
}

.hero-item:last-child {
  margin-right: 0;
}

.hero-title {
  margin-bottom: 10px;
}

.ourteam-general-title {
  margin-bottom: 50px;
}

.ourteam-content {
  padding: 30px 0;
}

.ourteam-content:last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-section-btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--header-text-color);
}

.main-section-btn:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
.main-section-btn:focus {
  color: var(--main-title-color);
}

.portfolio-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  min-width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:focus {
  color: var(--main-title-color);
  background-color: var(--header-text-color);
}

.current-button {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  justify-content: center;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--header-text-color);
  font-style: var(--main-title-color);
  margin-left: auto;
  margin-right: auto;
}

.main-site-section {
  /* background-color: var(--main-site-section); */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imgbackground.jpg);
  background-repeat: no-repeat;
    background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.hero-icon {
width: 270px;
height: 120px;
background-color: var(--ourteam-section);
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.hero-li-icon {
  width: 70px;
  height: 70px;
}

.about-us {
  padding-top: 0;
  padding-bottom: 94px;
}

.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-title-color);
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
}

.aboutus-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: auto;
  margin-bottom: auto;

}

.about-us-list:last-child {
  margin-right: 0;
}

.aboutus-item:last-child {
  margin-right: 0;
}

.ourteam {
  background: var(--ourteam-section);
}

.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
}

.ourteam-list:last-child {
  margin-right: 0;
}

.ourteam-emp {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-title-color);
}

.ourteam-emp:last-child {
  margin-right: 0;
}


.ourteam-general-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.ourteam-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.ourteam-after-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.team-icon {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-icon:first-child {
  margin-left: 0;
}

.team-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--social-link-color);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.team-links:hover,
.team-links:focus {
  background-color: var(--hover-color);
  color: var(--contrast-color);
}

.clients {
  font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:first-child {
margin-left: 0;
}

.clients-item {
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  margin-left: 30px;
  width: 170px;
  height: 92px;
  /* transition-property: color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--function); */
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px 32px; */
  width: 100%;
  height: 100%;
  color: var(--clients-link-color);
  transition-property: color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*----------FOOTER---------------*/

.footer {
  background: var(--main-site-section);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.followus {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-color);
  margin-bottom: 20px;
}


.footer-icon-item:first-child {
  margin-left: 0;
}

.footer-icon-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  
}

.footer-icon-list {
  display: flex;
  justify-content: center;
}

.footer-link-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.footer-link-right:hover,
.footer-link-right:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  background-color: var(--hover-color);
}

.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--footer-social);
}

.logo-footer {
  display: block;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  text-align: left;
}

.second-half-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-second-link,
.footer-third-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-second-link {
  display: block;
}

.footer-third-link {
  display: block;
}

.footer-link:hover,
.footer-second-link:hover,
.footer-third-link:hover,
.footer-link:focus,
.footer-second-link:focus,
.footer-third-link:focus {
  color: var(--accent-color);
}

.footer-list {
  display: block;
  text-align: left;
  margin: 0;
  margin-top: 20px;
}

.logo-footer {
  display: flex;
  align-items: flex-start;
}

.footer-item {
  margin-top: 9px;
}

/*---------PORTFOLIO----------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  padding-bottom: 0;
}

.portfolio-btn {
  display: inline;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current-button:hover,
.current-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-gentitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.buttons-list {
  padding-top: 0;
  padding-right: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.62;
}

.buttons-list-item:last-child {
  margin-right: 0;
}

.buttons-list-item {
  display: flex;
  margin-right: 8px;
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.services {
  width: 100%;
  height: 100%;
  display: block;
  /* transition: box-shadow var() */
}

.services:hover,
.services:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-content {
  box-shadow: var(--card-shadow);
  border: 1px solid #eeeeee;
}

.portfolio-content {
  padding: 20px;
}

.portfolio-list-title {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
